In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)

### Load and merge logs

In [63]:
bpi_path = '../data/bpi-challenge-2014/' 

df_interaction = pd.read_csv(bpi_path + 'Detail_Interaction.csv', sep=';', low_memory=False)
df_incident_activity = pd.read_csv(bpi_path + 'Detail_Incident_Activity.csv', sep=';', low_memory=False)
df_incident = pd.read_csv(bpi_path + 'Detail_Incident.csv', sep=';', low_memory=False)

# cleaning bad reading
df_incident = df_incident.dropna(axis=0, how='all')
df_incident = df_incident.dropna(axis=1, how='all')

In [64]:
df = df_incident.merge(df_incident_activity, how='left', left_on='Incident ID', right_on='Incident ID')

In [65]:
columns = ['Incident ID', 'IncidentActivity_Type', 'DateStamp', 'Assignment Group']
rename_columns = {
    'Incident ID':'case_id',
    'IncidentActivity_Type':'activity',
    'DateStamp':'timestamp',
    'Assignment Group':'resource'
}
df = df[columns].rename(columns=rename_columns)

In [66]:
destiny_path = '../data/bpi-incident-process/incident-process.csv'
df.to_csv(destiny_path, index=False)

### Checking dataframe

In [67]:
df = pd.read_csv(destiny_path, low_memory=False)

In [68]:
df

          case_id              activity            timestamp  resource
0       IM0000004          Reassignment  07-01-2013 08:17:17  TEAM0001
1       IM0000004          Reassignment  04-11-2013 13:41:30  TEAM0002
2       IM0000004  Update from customer  04-11-2013 13:41:30  TEAM0002
3       IM0000004       Operator Update  04-11-2013 12:09:37  TEAM0003
4       IM0000004            Assignment  04-11-2013 12:09:37  TEAM0003
...           ...                   ...                  ...       ...
466660  IM0047056                Closed  31-03-2014 15:42:37  TEAM0191
466661  IM0047057                  Open  31-03-2014 17:24:50  TEAM0199
466662  IM0047057                Update  31-03-2014 17:25:07  TEAM0199
466663  IM0047057                Closed  31-03-2014 22:47:33  TEAM0134
466664  IM0047057            Assignment  31-03-2014 20:38:58  TEAM0134

[466665 rows x 4 columns]